<div class="mcontainer">
    <nav class="mnavbar">
        <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="mnav-list">

            <li class="mnav-item">
                <a href="/" class="mnav-link">Home</a>
            </li>

            <li class="mnav-item">
                <a href="#" class="mnav-link">Dont touch</a>
            </li>
            <li class="mnav-item">
                <a href="#" class="mnav-link">Dont touch</a>
            </li>
            <li class="mnav-item">
                <a href="#" class="mnav-link">Dont touch</a>
            </li>
            <li class="mnav-item">
                <a href="/accounts/login" class="mnav-link">Dont touch</a>
            </li>
            <li class="mnav-item">
                <a href="/accounts/logout" class="mnav-link">Dont touch</a>
            </li>
            <li class="mnav-item">
                <a href="/signup" class="mnav-link">Dont touch</a>
            </li>
        </ul>
    </nav>
</div>